<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Accept argument to enable/disable simulation-specific configuration -->
    <xacro:arg name="use_simulation" default="false"/>


    <xacro:include filename="romi_core.xacro"/>
    <!-- <xacro:include filename="romi_camera.xacro"/> -->
    <xacro:include filename="romi_lidar.xacro"/>

    <!-- For sim only: drive wheel joints and publish odom/joint states. -->
    <xacro:if value="$(arg use_simulation)">
        <gazebo>
            <plugin filename="ignition-gazebo6-diff-drive-system" name="ignition::gazebo::systems::DiffDrive">
                <left_joint>left_wheel_joint</left_joint>
                <right_joint>right_wheel_joint</right_joint>
                <wheel_separation>0.141</wheel_separation>
                <wheel_radius>0.035</wheel_radius>
                <topic>/cmd_vel</topic>
                <odom_topic>/odom</odom_topic>
                <tf_topic>/tf</tf_topic>
                <frame_id>odom</frame_id>
                <child_frame_id>base_link</child_frame_id>
            </plugin>

            <plugin filename="ignition-gazebo6-joint-state-publisher-system" name="ignition::gazebo::systems::JointStatePublisher">
                <topic>/joint_states</topic>
                <joint_name>left_wheel_joint</joint_name>
                <joint_name>right_wheel_joint</joint_name>
            </plugin>
        </gazebo>
    </xacro:if>


    <transmission name="left_wheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>  
        </joint>
        <actuator name="left_wheel_motor">
            <mechanicalReduction>1</mechanicalReduction>
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </actuator>
    </transmission>

    <transmission name="right_wheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>  
        </joint>
        <actuator name="right_wheel_motor">
            <mechanicalReduction>1</mechanicalReduction>
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </actuator>
    </transmission>

</robot>
