<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Accept argument to enable/disable simulation-specific configuration -->
    <xacro:arg name="use_simulation" default="false"/>


    <xacro:include filename="romi_core.xacro"/>
    <!-- <xacro:include filename="romi_camera.xacro"/> -->
    <xacro:include filename="romi_lidar.xacro"/>

    <!-- For sim only: drive the wheel joints from /cmd_vel in Gazebo. -->
    <xacro:if value="$(arg use_simulation)">
        <gazebo>
            <plugin name="diff_drive_controller" filename="libgazebo_ros_diff_drive.so">
                <ros>
                    <remapping>cmd_vel:=/cmd_vel</remapping>
                    <remapping>odom:=/odom</remapping>
                </ros>
                <update_rate>50</update_rate>
                <left_joint>left_wheel_joint</left_joint>
                <right_joint>right_wheel_joint</right_joint>
                <wheel_separation>0.141</wheel_separation>
                <wheel_radius>0.035</wheel_radius>
                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                <odometry_frame>odom</odometry_frame>
                <robot_base_frame>base_link</robot_base_frame>
            </plugin>
        </gazebo>
    </xacro:if>


    <transmission name="left_wheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>  
        </joint>
        <actuator name="left_wheel_motor">
            <mechanicalReduction>1</mechanicalReduction>
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </actuator>
    </transmission>

    <transmission name="right_wheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>  
        </joint>
        <actuator name="right_wheel_motor">
            <mechanicalReduction>1</mechanicalReduction>
            <hardwareInterface>VelocityJointInterface</hardwareInterface>
        </actuator>
    </transmission>

</robot>
