<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="laser_joint" type="fixed">
        <parent link="chassis"/>
        <child link="lidar_frame"/>
        <origin xyz="${chassis_length/2} 0 0.105" rpy="0 0 0"/>
    </joint>

    <link name="lidar_frame">
        <visual>
            <geometry>
                <cylinder radius="0.018" length="0.01"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>

    <gazebo reference="lidar_frame">
        <material>Gazebo/Black</material>

        <sensor name="laser" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <frame_id>lidar_frame</frame_id>
            <topic>/scan</topic>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.0005</min>
                    <max>15</max>
                </range>
            </lidar>
        </sensor>
    </gazebo>

</robot>
